.Popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.Popup-inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: rgba(255, 255, 255, .95);
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.Message-container {
  width: 100%;
  height: 60%;
  margin-top: 5%;
}

.Message {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  height: 70%;
  margin: 0 auto;
}

.Message-header {
  width: 100%;
  height: 30%;
  margin: 0 auto;
  text-align: center;
}

.Buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Accept {
  font-size: 5em;
  color: green;
  margin: .25em;
  cursor: pointer;
} 

.Accept:hover {
  color: white;
}

.Decline {
  cursor: pointer;
  font-size: 5em;
  color: rgb(247, 17, 17);;
  margin: .25em;
}

.Decline:hover {
  color: white;
}

