
.Course {
  display: flex;
  align-items: center;
  width: 95vw;
  height: 3em;
  margin-left: 3vw;
  border: black solid 3px;
  font-size: 1em;
}

.Number-title-wrapper {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.Course-number {
  margin: 1%;
  float: left;
}

.Course-title {
  margin: 1%;
  float: left;
}

.Pathways-wrapper {
  width: 65%;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.Pathways-title {
  float: left;
  margin-right: 1em;
}

.Pathways-item {
  float: left;
  margin: 1em;
}

.Button-wrapper {
  width: 5%;
  display: flex;
  align-items: center;
  font-size: 1.9em;
}

.Edit-button {
  margin: 5px;
  color: black;
  float: right;
  cursor: pointer;
}

.Edit-button:hover {
  color: white;
}

.Delete-button {
  margin: 5px;
  color: rgb(241, 53, 53);
  float: right;
  cursor: pointer;
}

.Delete-button:hover {
  color: white;
}

