.Pathways-Catalog {
  margin-top: 5vh;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
}

.Title {
  font-size: 4em;
  color:rgb(56, 54, 54);
  display: flex;
  justify-content: left;
  margin: .25em;
}