
.Pathway {
  display: flex;
  width: 95vw;
  height: 25em;
  margin: 0 auto;
  margin-left: 3vw;
  border: black solid 3px;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

.Text-container {
  width: 34%;
  height: 100%;
  margin: 0 auto;
}

.Name {
  height: 20%;
  width: 100%;
  margin: 0 auto;
  margin-top: 10%; 
  margin-left: 5%;
}

.Name-area {
  min-width: 50%;
  max-height: 30%;
  font-size: 15px;
}

.Description {
  margin: 0 auto;
  margin-left: 5%;
  margin-bottom: 5%;
}

.Description-area {
  font-size: 15px;
}

.Color-container {
  width: 23%;
  height: 100%;
  margin: 0 auto;
  font-size: 1em; 
}

.Highlight-container {
  width: 23%;
  height: 100%;
  margin: 0 auto;
}

.Button-container {
  width: 20%;
  height: 100%;
  margin: 0 auto;
  font-size: 1.9em; 
}

.Color-title {
  height: 10%;
  width: 100%;
  margin: 0 auto;
  margin-top: 5%;
  text-align: left;
  font-size: 1.3em;
}

.Picker-wrapper {
  width: 100%;
  height: 80%;
  margin: 0 auto;
}

.Picker-wrapper-onPopup {
  display: none;
}

.Pathway-Button-Mock {
  margin: 0 auto;
  margin-top: 20%;
  width: 100%;
  height: 60%;
}

.Edit-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  font-size: 1.7em;
}

.Edit-button {
  margin: 5px;
  color: black;
  float: right;
  cursor: pointer;
}

.Edit-button:hover {
  color: white;
}

.Accept-edit-button {
  margin: 5px;
  color: green;
  float: right;
  cursor: pointer;
}

.Accept-edit-button:hover {
  color: white;
}

.Cancel-button {
  margin: 10px;
  margin-top: 5 px;
  color: rgb(241, 53, 53);
  float: right;
  cursor: pointer;
}

.Cancel-button:hover {
  color: white;
}

.Delete-button {
  margin: 5px;
  margin-top: 2px;
  float: right;
  cursor: pointer;
  color: black;
}

.Delete-button:hover {
  color: white;  
}